In [1]:
import pandas as pd
import numpy as np

Read the JSON file that you saved in ex02

In [2]:
df = pd.read_json("../ex02/auto.json")

In [3]:
pd.options.display.float_format = '{:.2f}'.format

In [4]:
df

        CarNumber  Refund    Fines    Make    Model
0    Y163O8161RUS       2  3200.00    Ford    Focus
1     E432XX77RUS       1  6500.00  Toyota    Camry
2     7184TT36RUS       1  2100.00    Ford    Focus
3    X582HE161RUS       2  2000.00    Ford    Focus
4    92918M178RUS       1  5700.00    Ford    Focus
..            ...     ...      ...     ...      ...
720  Y163O8161RUS       2  1600.00    Ford    Focus
721  M0309X197RUS       1 22300.00    Ford    Focus
722  O673E8197RUS       2   600.00    Ford    Focus
723  8610T8154RUS       1  2000.00    Ford    Focus
724  H419XE197RUS       2  8594.59  Toyota  Corolla

[725 rows x 5 columns]

Enrich the dataframe using a sample from that dataframe.

In [5]:
sample = df.sample(n = 200,random_state=21)
sample

        CarNumber  Refund    Fines        Make   Model
445  M0299X197RUS       2 19200.00        Ford   Focus
22   83298C154RUS       2  8594.59        Ford   Focus
93   H957HY161RUS       1  2000.00        Ford   Focus
173   T941CC96RUS       1  2000.00        Ford   Focus
697  H966HY161RUS       1   500.00        Ford   Focus
..            ...     ...      ...         ...     ...
14   8182XX154RUS       1   200.00        Ford   Focus
623   X796TH96RUS       1   500.00        Ford   Focus
498  T011MY163RUS       2  4000.00        Ford   Focus
536   T341CC96RUS       2  1000.00  Volkswagen  Passat
520   T119CT96RUS       1  2000.00        Ford   Focus

[200 rows x 5 columns]

In [6]:
concat_rows = pd.concat([df,sample])

In [7]:
concat_rows.index = range(len(concat_rows))
concat_rows

        CarNumber  Refund   Fines        Make   Model
0    Y163O8161RUS       2 3200.00        Ford   Focus
1     E432XX77RUS       1 6500.00      Toyota   Camry
2     7184TT36RUS       1 2100.00        Ford   Focus
3    X582HE161RUS       2 2000.00        Ford   Focus
4    92918M178RUS       1 5700.00        Ford   Focus
..            ...     ...     ...         ...     ...
920  8182XX154RUS       1  200.00        Ford   Focus
921   X796TH96RUS       1  500.00        Ford   Focus
922  T011MY163RUS       2 4000.00        Ford   Focus
923   T341CC96RUS       2 1000.00  Volkswagen  Passat
924   T119CT96RUS       1 2000.00        Ford   Focus

[925 rows x 5 columns]

In [8]:
np.random.seed(21)
year = np.random.randint(1980,2019,len(concat_rows))
year = pd.Series(year,name='Year')

In [9]:
year

0      1989
1      1995
2      1984
3      2015
4      2014
       ...
920    1996
921    2002
922    1996
923    2012
924    1984
Name: Year, Length: 925, dtype: int64

In [10]:
fines = pd.concat([concat_rows,year],axis=1)

In [11]:
fines

        CarNumber  Refund   Fines        Make   Model  Year
0    Y163O8161RUS       2 3200.00        Ford   Focus  1989
1     E432XX77RUS       1 6500.00      Toyota   Camry  1995
2     7184TT36RUS       1 2100.00        Ford   Focus  1984
3    X582HE161RUS       2 2000.00        Ford   Focus  2015
4    92918M178RUS       1 5700.00        Ford   Focus  2014
..            ...     ...     ...         ...     ...   ...
920  8182XX154RUS       1  200.00        Ford   Focus  1996
921   X796TH96RUS       1  500.00        Ford   Focus  2002
922  T011MY163RUS       2 4000.00        Ford   Focus  1996
923   T341CC96RUS       2 1000.00  Volkswagen  Passat  2012
924   T119CT96RUS       1 2000.00        Ford   Focus  1984

[925 rows x 6 columns]

Create a new dataframe with car numbers and their owners.

In [12]:
sur = pd.read_json("../ex04/surname.json")

In [13]:
sur.columns = sur.iloc[0]
sur = sur[1:]

In [14]:
sur = sur.reset_index(drop=True)

In [15]:
sur

0       NAME    COUNT RANK
0      ADAMS   427865   42
1      ALLEN   482607   33
2    ALVAREZ   233983   92
3   ANDERSON   784404   15
4     BAILEY   277845   72
..       ...      ...  ...
95  WILLIAMS  1625252    3
96    WILSON   801882   14
97      WOOD   250715   84
98    WRIGHT   458980   35
99     YOUNG   484447   32

[100 rows x 3 columns]

In [16]:
uniq_surname = concat_rows['CarNumber'].unique()

In [17]:
uniq_surname

array(['Y163O8161RUS', 'E432XX77RUS', '7184TT36RUS', 'X582HE161RUS',
       '92918M178RUS', 'H234YH197RUS', 'E40577152RUS', '707987163RUS',
       'K330T8197RUS', 'X786CO96RUS', 'C477M7161RUS', 'O21997197RUS',
       'M592CH197RUS', '9020YC197RUS', '8182XX154RUS', '7830C8197RUS',
       '7066C8197RUS', 'M298CH161RUS', 'E445TC197RUS', '8440XX154RUS',
       '9371CE154RUS', '9182CE154RUS', '83298C154RUS', 'Y7659C197RUS',
       'C922YE197RUS', '7364C8197RUS', 'M5039X197RUS', '8603T8154RUS',
       '92928M178RUS', 'O672E8197RUS', 'E42277152RUS', 'C903MC161RUS',
       'T7318T163RUS', 'Y7719C197RUS', 'T011MY163RUS', 'H115YO163RUS',
       '73467Y96RUS', 'O134HE197RUS', 'H968HY161RUS', 'Y654E8750RUS',
       'H963HY161RUS', 'H232YH197RUS', '7843C8197RUS', 'X791O796RUS',
       'H958HY161RUS', '708587163RUS', 'Y973O8197RUS', '97977H178RUS',
       'H917TC36RUS', 'Y7709C197RUS', '8513XX154RUS', 'T870X7163RUS',
       '8818C877RUS', 'T395OT197RUS', 'K327T8197RUS', '8311XX154RUS',
       'X423MK197RUS', '96429X178RUS', 'O275O7161RUS', '7789KT197RUS',
       'E28877161RUS', 'T6068M116RUS', '9498KX178RUS', '99209X178RUS',
       'T6449O50RUS', '9683EC178RUS', 'Y353O8197RUS', 'O719MM163RUS',
       'E535MM199RUS', 'Y352O8197RUS', '7788KT197RUS', 'E807HE77RUS',
       'M516CH161RUS', '89587X197RUS', '7781KT197RUS', 'E645TH36RUS',
       'Y302E877RUS', 'M058XE36RUS', '8166XX154RUS', 'M589CH197RUS',
       '9408H7178RUS', 'H387TM197RUS', '8049HT125RUS', '9698MO178RUS',
       '8685HE154RUS', '7177TT36RUS', 'O77997197RUS', 'Y234E877RUS',
       '97987H178RUS', 'X257HE161RUS', 'T399KX197RUS', 'H957HY161RUS',
       'K379HY161RUS', 'T654HT96RUS', '8439XX154RUS', 'Y965EE197RUS',
       'X758HY197RUS', 'M0279X197RUS', 'H224X836RUS', 'E6849O154RUS',
       'O83797197RUS', '9402KK197RUS', '7368C8197RUS', 'H427YH197RUS',
       '9583EY178RUS', 'Y038E877RUS', '9822H8161RUS', '7826C8197RUS',
       'E160YX77RUS', '82337X197RUS', 'X757HY197RUS', 'X765HY197RUS',
       '934497178RUS', 'K2807K154RUS', 'T8008Y125RUS', 'Y960EE197RUS',
       '7840C8197RUS', 'K846YE77RUS', '7827C8197RUS', 'Y655E8750RUS',
       'H003MH197RUS', 'Y7699C197RUS', 'Y8399C197RUS', '9135X938RUS',
       'H385TM197RUS', '9428EX178RUS', 'H837YK197RUS', 'O83597197RUS',
       'E42577152RUS', 'E53277152RUS', 'C476M7161RUS', '9943KK197RUS',
       '8165XX154RUS', 'T476KX197RUS', 'C422X938RUS', 'K328T8197RUS',
       '9466EX178RUS', 'X256HE161RUS', 'Y275O8197RUS', 'H217X836RUS',
       'Y316E877RUS', '8601XX154RUS', 'M741T9152RUS', '9883HX152RUS',
       'Y6829Y50RUS', 'H004MH197RUS', '704987163RUS', 'E316EH197RUS',
       'O22297197RUS', 'O02597197RUS', 'X015HY197RUS', 'T769OT197RUS',
       'Y778EE197RUS', '7829C8197RUS', 'T272HH163RUS', 'T018OX197RUS',
       'Y255E877RUS', '9697MO178RUS', 'T686EO197RUS', 'C590EY154RUS',
       'T941CC96RUS', 'O22397197RUS', 'X242EC197RUS', 'T020OX197RUS',
       'E33577152RUS', 'E773EH197RUS', 'T6428M116RUS', 'Y7129Y50RUS',
       'Y418EX197RUS', 'Y7689C197RUS', 'E52877152RUS', '7369C8197RUS',
       'Y166O8161RUS', '705287163RUS', 'K559KC161RUS', 'M0299X197RUS',
       '84418C154RUS', 'E53488152RUS', '90159H178RUS', 'C798ET50RUS',
       'Y193O8161RUS', '7248C8197RUS', 'K357YE77RUS', 'E0697X152RUS',
       'E40877152RUS', 'Y351O8197RUS', 'Y356O8197RUS', 'O6939X163RUS',
       'Y7649C197RUS', '9935TE152RUS', '704687163RUS', '7197TT36RUS',
       'O143HO197RUS', 'K436MO152RUS', '9938OH154RUS', 'E34877152RUS',
       'E5878M777RUS', '7844C8197RUS', 'C584EY154RUS', 'E28977161RUS',
       'T016OX197RUS', 'H889YK197RUS', '7363C8197RUS', 'T6039O50RUS',
       '7365C8197RUS', 'Y967O8197RUS', 'E816HE77RUS', 'T6329O50RUS',
       'X504X8197RUS', 'M581CH197RUS', 'X523OM161RUS', 'C412X938RUS',
       '7831C8197RUS', '8164XX154RUS', 'T6419O50RUS', 'E822TH36RUS',
       '8437XX154RUS', 'C515X938RUS', '7172TT36RUS', '8436XX154RUS',
       'E79988152RUS', '8180XX154RUS', '84438C154RUS', 'T6309O50RUS',
       'T6129O50RUS', 'K339T8197RUS', 'X782CO96RUS', 'E591HE77RUS',
       '9499KX178RUS', 'Y357O8197RUS', 'Y652O8197RUS', 'X767HY197RUS',
       'H220X836RUS', 'H218X836RUS', 'T913CT197RUS', 'T6439O50RUS',
       '7784KT197RUS', 'X286TC36RUS', 'O752MX161RUS', 'Y7449Y50RUS',
       '92828M178RUS', 'Y650E8750RUS', '8321XX154RUS', '8316XX154RUS',
       'T017OX197RUS', 'H977HY161RUS', 'X522OM161RUS', 'O085E8197RUS',
       '705387163RUS', 'O017KO197RUS', 'X4138H125RUS', '8441XX154RUS',
       'M0269X197RUS', 'T483CT96RUS', 'T940CC96RUS', 'C58078163RUS',
       'O02397197RUS', '8611T8154RUS', '704787163RUS', 'C313MM99RUS',
       'X763HY197RUS', 'M386M9197RUS', '8605T8154RUS', '7147OE161RUS',
       '7361C8197RUS', 'Y359EY197RUS', 'T6559O50RUS', '9469EX178RUS',
       'Y6839Y50RUS', 'H237YH197RUS', 'T948OM96RUS', 'T395KX197RUS',
       'M301CH161RUS', '9496KX178RUS', 'T6319O50RUS', 'H305T8197RUS',
       '8201XX154RUS', 'O64297197RUS', '9523M8178RUS', 'Y273O8197RUS',
       'T6229O50RUS', 'X023HY197RUS', '8226XX154RUS', 'Y038TO197RUS',
       'M0289X197RUS', 'E811HE77RUS', 'X795O796RUS', 'O39997197RUS',
       '97968K152RUS', 'H219X836RUS', 'T6169O50RUS', '94178K154RUS',
       '9467EX178RUS', 'O78097197RUS', 'X5707X161RUS', 'Y232E877RUS',
       'Y388E877RUS', 'X255HE161RUS', 'E552MO152RUS', '97998K152RUS',
       'Y963O8197RUS', 'T477KX197RUS', 'T2639T116RUS', 'O49797197RUS',
       'O68897197RUS', '72457Y96RUS', '7064C8197RUS', 'E948C8152RUS',
       'C514X938RUS', 'C589EY154RUS', 'K899T8197RUS', 'T6418M116RUS',
       '8607XX154RUS', '92778M178RUS', 'T288CT96RUS', '9886HX152RUS',
       'C583EY154RUS', 'C592EY154RUS', 'T6459O50RUS', 'X759HY197RUS',
       '705787163RUS', '92898M178RUS', '9671EC178RUS', 'M302CH161RUS',
       'M578CH197RUS', 'Y207O8161RUS', '96659X178RUS', 'T912CT197RUS',
       '7183TT36RUS', '89557X197RUS', 'Y359O8197RUS', 'K2817K154RUS',
       'Y964O8197RUS', 'H967HY161RUS', 'E394MO152RUS', 'O50699163RUS',
       '9463EX178RUS', 'E53677152RUS', 'K338T8197RUS', 'Y4298M777RUS',
       'Y687HM197RUS', '98037H178RUS', '7828C8197RUS', 'H980HY161RUS',
       'H906YK197RUS', '7199MT197RUS', 'X908XC197RUS', 'T171CC96RUS',
       'X4108H125RUS', 'Y966O8197RUS', 'K2797K154RUS', '7089H8163RUS',
       '7841C8197RUS', '9940KK197RUS', 'H971HY161RUS', 'H844YH197RUS',
       'E33477152RUS', 'Y156E877RUS', 'E396MO152RUS', 'Y969O8197RUS',
       '9028CO161RUS', 'T6249O50RUS', 'E42377152RUS', '9941KK197RUS',
       'M372CH197RUS', 'K040CC197RUS', 'E41577152RUS', '9763HY161RUS',
       'T535ET96RUS', 'H961HY161RUS', 'M2169X197RUS', '8234XX154RUS',
       'O83697197RUS', 'E52677152RUS', '8451M7154RUS', '9589EY178RUS',
       'H907YK197RUS', 'O39897197RUS', 'M3879X197RUS', 'C299K9154RUS',
       '9468EX178RUS', 'M375CH197RUS', 'H982HY161RUS', '8224XX154RUS',
       'Y653E8750RUS', 'K558KC161RUS', 'O058M7161RUS', 'M256OH161RUS',
       'T242H8197RUS', 'K27188138RUS', '96629X178RUS', '9881HX152RUS',
       'T479KX197RUS', 'M680T9152RUS', 'C410X938RUS', 'X762HY197RUS',
       '9470EX178RUS', 'X4128H125RUS', '9762HY161RUS', 'H419XE197RUS',
       '98017H178RUS', 'Y780EE197RUS', 'M580CH197RUS', '9943OH154RUS',
       'Y354O8197RUS', '7065C8197RUS', 'E28777161RUS', 'M701T9152RUS',
       'E577HE77RUS', '92788M178RUS', '9072EM178RUS', '9409H7178RUS',
       'C3829X154RUS', 'T478KX197RUS', 'T119CT96RUS', '708487163RUS',
       'H983HY161RUS', '7842C8197RUS', 'O64097197RUS', 'Y693HM197RUS',
       '96857X197RUS', 'T394KX197RUS', 'O49897197RUS', 'H963X936RUS',
       'T341CC96RUS', '9942KK197RUS', '9141H8178RUS', '7370C8197RUS',
       '9890HX152RUS', 'M268CH197RUS', 'C419X938RUS', 'M0319X197RUS',
       'M577CH197RUS', 'H975HY161RUS', 'X018HY197RUS', 'E33177152RUS',
       '9491H7178RUS', 'M374CH197RUS', '96679X178RUS', '9594HY161RUS',
       '83218C154RUS', '9764HY161RUS', '708187163RUS', 'H908YK197RUS',
       'Y656E8750RUS', '9679EC178RUS', 'C803KE163RUS', 'Y7379Y50RUS',
       'X320MK197RUS', '96907X197RUS', 'H235YH197RUS', '9474EX178RUS',
       'Y8259C197RUS', 'E29577161RUS', 'X761HY197RUS', 'T396KX197RUS',
       'C593EY154RUS', 'Y164O8161RUS', 'M942OT152RUS', 'Y7429Y50RUS',
       'H976HY161RUS', 'Y195O8161RUS', 'O669E8197RUS', 'Y187O8161RUS',
       'K329T8197RUS', '9677MO178RUS', '9939KK197RUS', 'M373CH197RUS',
       '7164YM36RUS', 'O753MX161RUS', 'T6488M116RUS', '98047H178RUS',
       '9488EY178RUS', 'O481OH77RUS', 'K326T8197RUS', 'X796TH96RUS',
       'Y358O8197RUS', 'C420X938RUS', 'Y965O8197RUS', 'Y274O8197RUS',
       'E223YM197RUS', 'Y964EE197RUS', 'T6049O50RUS', 'H259HY161RUS',
       'Y344E877RUS', 'K889HY161RUS', 'H214X836RUS', 'O421OT161RUS',
       '7360C8197RUS', 'Y194O8161RUS', 'T6359O50RUS', 'E29677161RUS',
       'T020MM116RUS', '9502XX38RUS', '8521XX154RUS', 'K376HE161RUS',
       '7193TT36RUS', 'O785T9163RUS', 'H618YC38RUS', '9068EM178RUS',
       '7783KT197RUS', 'Y305E877RUS', 'E881OT197RUS', 'O718MM163RUS',
       '9975CC77RUS', 'T195OK161RUS', 'T914CT197RUS', 'E41977152RUS',
       '9464EX178RUS', 'O50197197RUS', '7608EE777RUS', 'X583HE161RUS',
       'Y7229Y50RUS', 'M6977E152RUS', '8325M7154RUS', 'Y192O8161RUS',
       '96599X178RUS', 'X760HY197RUS', 'H966HY161RUS', '9938KK197RUS',
       '98087H178RUS', '7367C8197RUS', '9137X938RUS', '9398MM199RUS',
       'E53477152RUS', '7194TT36RUS', 'O136HO197RUS', 'O22097197RUS',
       'M0309X197RUS', 'O673E8197RUS', '8610T8154RUS'], dtype=object)

In [18]:
np.random_state=21
surnames = pd.Series(np.random.choice(sur['NAME'],size=len(uniq_surname)))
surnames

0        TURNER
1      MARTINEZ
2          HALL
3          REED
4       SANCHEZ
         ...
526       YOUNG
527       BROWN
528         COX
529        GRAY
530     ROBERTS
Length: 531, dtype: object

In [19]:

owners = pd.DataFrame()

In [20]:
owners['CarNumber'] = uniq_surname
owners['SURNAME'] = surnames

In [21]:
owners

        CarNumber   SURNAME
0    Y163O8161RUS    TURNER
1     E432XX77RUS  MARTINEZ
2     7184TT36RUS      HALL
3    X582HE161RUS      REED
4    92918M178RUS   SANCHEZ
..            ...       ...
526  O136HO197RUS     YOUNG
527  O22097197RUS     BROWN
528  M0309X197RUS       COX
529  O673E8197RUS      GRAY
530  8610T8154RUS   ROBERTS

[531 rows x 2 columns]

Append five more observations to the fines dataframe.

In [22]:
fines

        CarNumber  Refund   Fines        Make   Model  Year
0    Y163O8161RUS       2 3200.00        Ford   Focus  1989
1     E432XX77RUS       1 6500.00      Toyota   Camry  1995
2     7184TT36RUS       1 2100.00        Ford   Focus  1984
3    X582HE161RUS       2 2000.00        Ford   Focus  2015
4    92918M178RUS       1 5700.00        Ford   Focus  2014
..            ...     ...     ...         ...     ...   ...
920  8182XX154RUS       1  200.00        Ford   Focus  1996
921   X796TH96RUS       1  500.00        Ford   Focus  2002
922  T011MY163RUS       2 4000.00        Ford   Focus  1996
923   T341CC96RUS       2 1000.00  Volkswagen  Passat  2012
924   T119CT96RUS       1 2000.00        Ford   Focus  1984

[925 rows x 6 columns]

In [23]:
fines.loc[len(fines)] = ['T015MT165RUS',1,6500.00,'Ford','Focus',2005]
fines.loc[len(fines)] = ['A015MT165RUS',3,7500.00,'Audi','Sedan',2005]
fines.loc[len(fines)] = ['G015MT165RUS',2,9500.00,'Mers','Benz',2006]
fines.loc[len(fines)] = ['W015MT165RUS',1,7500.00,'Ford','Focus',2005]
fines.loc[len(fines)] = ['H015MT165RUS',1,6500.00,'Audi','Sedan',2008]

In [24]:
fines

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2 3200.00    Ford  Focus  1989
1     E432XX77RUS       1 6500.00  Toyota  Camry  1995
2     7184TT36RUS       1 2100.00    Ford  Focus  1984
3    X582HE161RUS       2 2000.00    Ford  Focus  2015
4    92918M178RUS       1 5700.00    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  T015MT165RUS       1 6500.00    Ford  Focus  2005
926  A015MT165RUS       3 7500.00    Audi  Sedan  2005
927  G015MT165RUS       2 9500.00    Mers   Benz  2006
928  W015MT165RUS       1 7500.00    Ford  Focus  2005
929  H015MT165RUS       1 6500.00    Audi  Sedan  2008

[930 rows x 6 columns]

In [25]:
owners = owners[:len(owners)-20]

In [26]:

owners

        CarNumber   SURNAME
0    Y163O8161RUS    TURNER
1     E432XX77RUS  MARTINEZ
2     7184TT36RUS      HALL
3    X582HE161RUS      REED
4    92918M178RUS   SANCHEZ
..            ...       ...
506  T914CT197RUS      DIAZ
507  E41977152RUS     CLARK
508  9464EX178RUS     BAKER
509  O50197197RUS   ALVAREZ
510  7608EE777RUS      RUIZ

[511 rows x 2 columns]

In [27]:
data = {'CarNumber':['GJ02734U51RUS','WE378Q191RUS','LK5543161RUS'],'SURNAME':['SANCHEZ','JHONSONS','TURNER']}
add_3 = pd.DataFrame(data)

In [28]:
owners = pd.concat([owners,add_3],ignore_index=True)
owners

         CarNumber   SURNAME
0     Y163O8161RUS    TURNER
1      E432XX77RUS  MARTINEZ
2      7184TT36RUS      HALL
3     X582HE161RUS      REED
4     92918M178RUS   SANCHEZ
..             ...       ...
509   O50197197RUS   ALVAREZ
510   7608EE777RUS      RUIZ
511  GJ02734U51RUS   SANCHEZ
512   WE378Q191RUS  JHONSONS
513   LK5543161RUS    TURNER

[514 rows x 2 columns]

Join the two dataframes

In [29]:

car_only = pd.merge(fines,owners,on='CarNumber',how='inner')
car_only

        CarNumber  Refund   Fines        Make   Model  Year   SURNAME
0    Y163O8161RUS       2 3200.00        Ford   Focus  1989    TURNER
1     E432XX77RUS       1 6500.00      Toyota   Camry  1995  MARTINEZ
2     7184TT36RUS       1 2100.00        Ford   Focus  1984      HALL
3    X582HE161RUS       2 2000.00        Ford   Focus  2015      REED
4    92918M178RUS       1 5700.00        Ford   Focus  2014   SANCHEZ
..            ...     ...     ...         ...     ...   ...       ...
894  8182XX154RUS       1  200.00        Ford   Focus  1996  ANDERSON
895   X796TH96RUS       1  500.00        Ford   Focus  2002     ADAMS
896  T011MY163RUS       2 4000.00        Ford   Focus  1996    RIVERA
897   T341CC96RUS       2 1000.00  Volkswagen  Passat  2012     EVANS
898   T119CT96RUS       1 2000.00        Ford   Focus  1984    BAILEY

[899 rows x 7 columns]

In [30]:
car_all = pd.merge(fines,owners,on='CarNumber',how='outer')
car_all

        CarNumber  Refund    Fines  Make  Model    Year   SURNAME
0    704687163RUS    2.00  1400.00  Ford  Focus 2014.00     ADAMS
1    704787163RUS    2.00  2800.00  Ford  Focus 2005.00    BROOKS
2    704987163RUS    2.00  8594.59  Ford  Focus 2014.00     JONES
3    705287163RUS    2.00  2000.00  Ford  Focus 1990.00  PHILLIPS
4    705387163RUS    2.00   700.00  Ford  Focus 2005.00    MURPHY
..            ...     ...      ...   ...    ...     ...       ...
928  Y973O8197RUS    2.00  8594.59  Ford  Focus 2005.00   JIMENEZ
929  Y973O8197RUS    1.00 34800.00  Ford  Focus 2013.00   JIMENEZ
930  Y973O8197RUS    1.00 69600.00  Ford  Focus 1989.00   JIMENEZ
931  Y973O8197RUS    1.00 34800.00  Ford  Focus 2009.00   JIMENEZ
932  Y973O8197RUS    2.00  8594.59  Ford  Focus 2014.00   JIMENEZ

[933 rows x 7 columns]

In [31]:
car_left = pd.merge(fines,owners,on='CarNumber',how='left')
car_left

        CarNumber  Refund   Fines    Make  Model  Year   SURNAME
0    Y163O8161RUS       2 3200.00    Ford  Focus  1989    TURNER
1     E432XX77RUS       1 6500.00  Toyota  Camry  1995  MARTINEZ
2     7184TT36RUS       1 2100.00    Ford  Focus  1984      HALL
3    X582HE161RUS       2 2000.00    Ford  Focus  2015      REED
4    92918M178RUS       1 5700.00    Ford  Focus  2014   SANCHEZ
..            ...     ...     ...     ...    ...   ...       ...
925  T015MT165RUS       1 6500.00    Ford  Focus  2005       NaN
926  A015MT165RUS       3 7500.00    Audi  Sedan  2005       NaN
927  G015MT165RUS       2 9500.00    Mers   Benz  2006       NaN
928  W015MT165RUS       1 7500.00    Ford  Focus  2005       NaN
929  H015MT165RUS       1 6500.00    Audi  Sedan  2008       NaN

[930 rows x 7 columns]

In [32]:
car_right = pd.merge(fines,owners,on='CarNumber',how='right')
car_right

         CarNumber  Refund    Fines    Make    Model    Year   SURNAME
0     Y163O8161RUS    2.00  3200.00    Ford    Focus 1989.00    TURNER
1     Y163O8161RUS    2.00  1600.00    Ford    Focus 1999.00    TURNER
2      E432XX77RUS    1.00  6500.00  Toyota    Camry 1995.00  MARTINEZ
3      E432XX77RUS    2.00 13000.00  Toyota    Camry 1992.00  MARTINEZ
4      7184TT36RUS    1.00  2100.00    Ford    Focus 1984.00      HALL
..             ...     ...      ...     ...      ...     ...       ...
897   7608EE777RUS    1.00  4000.00   Skoda  Octavia 2013.00      RUIZ
898   7608EE777RUS    1.00  4000.00   Skoda  Octavia 1987.00      RUIZ
899  GJ02734U51RUS     NaN      NaN     NaN      NaN     NaN   SANCHEZ
900   WE378Q191RUS     NaN      NaN     NaN      NaN     NaN  JHONSONS
901   LK5543161RUS     NaN      NaN     NaN      NaN     NaN    TURNER

[902 rows x 7 columns]

Create a pivot table from the fines dataframe

In [33]:
pd.pivot_table(fines,aggfunc='sum',values='Fines',index=['Make', 'Model'], columns='Year')

Year                   1980      1981      1982      1983      1984      1985  \
Make       Model
Audi                    NaN       NaN       NaN       NaN       NaN       NaN
           Sedan        NaN       NaN       NaN       NaN       NaN       NaN
BMW                     NaN       NaN       NaN       NaN       NaN       NaN
Ford       Focus   89194.59 266783.76 107283.76 147289.17 106000.00 307494.59
           Mondeo       NaN       NaN  46200.00       NaN       NaN       NaN
Mers       Benz         NaN       NaN       NaN       NaN       NaN       NaN
Skoda      Octavia 13794.59   1900.00   8894.59       NaN   1300.00 153594.59
Toyota     Camry   12000.00       NaN   1000.00   8594.59   1000.00       NaN
           Corolla      NaN   6800.00       NaN  12800.00       NaN   4400.00
Volkswagen          1300.00   7900.00       NaN       NaN       NaN       NaN
           Golf    20800.00   8594.59   5000.00    200.00       NaN 168000.00
           Jetta        NaN   1000.00       NaN       NaN       NaN   9000.00
           Passat    900.00  12500.00       NaN   1100.00   8594.59       NaN
           Touareg      NaN       NaN       NaN       NaN       NaN       NaN
Volvo                   NaN       NaN       NaN       NaN       NaN       NaN

Year                   1986     1987     1988      1989  ...      2009  \
Make       Model                                         ...
Audi                    NaN      NaN      NaN       NaN  ...       NaN
           Sedan        NaN      NaN      NaN       NaN  ...       NaN
BMW                     NaN      NaN      NaN       NaN  ...       NaN
Ford       Focus   69700.00 98189.17 69667.52 200889.17  ... 159894.59
           Mondeo       NaN      NaN      NaN       NaN  ...       NaN
Mers       Benz         NaN      NaN      NaN       NaN  ...       NaN
Skoda      Octavia      NaN  6000.00  5100.00   8594.59  ...       NaN
Toyota     Camry   19800.00      NaN      NaN    800.00  ...       NaN
           Corolla      NaN 54300.00      NaN   7800.00  ...   8594.59
Volkswagen          7400.00      NaN      NaN       NaN  ...       NaN
           Golf         NaN   300.00      NaN    300.00  ...       NaN
           Jetta        NaN      NaN 46000.00   4000.00  ...       NaN
           Passat  16000.00  2000.00  8594.59       NaN  ...   3200.00
           Touareg      NaN      NaN      NaN       NaN  ...   5800.00
Volvo                   NaN      NaN      NaN       NaN  ...   6800.00

Year                   2010      2011      2012      2013     2014      2015  \
Make       Model
Audi                    NaN       NaN       NaN       NaN      NaN       NaN
           Sedan        NaN       NaN       NaN       NaN      NaN       NaN
BMW                     NaN   8594.59       NaN       NaN      NaN       NaN
Ford       Focus   96000.00 117194.59 152989.17 297378.35 90378.35 172700.00
           Mondeo       NaN       NaN       NaN  41100.00      NaN       NaN
Mers       Benz         NaN       NaN       NaN       NaN      NaN       NaN
Skoda      Octavia  3000.00   3000.00   1700.00  11800.00 18900.00  16394.59
Toyota     Camry   22400.00       NaN   7500.00       NaN      NaN       NaN
           Corolla  6000.00   3400.00       NaN       NaN      NaN  30300.00
Volkswagen              NaN       NaN       NaN       NaN      NaN       NaN
           Golf         NaN       NaN       NaN       NaN 13900.00   4600.00
           Jetta        NaN       NaN       NaN       NaN      NaN       NaN
           Passat   9500.00       NaN   1000.00   1600.00 15000.00       NaN
           Touareg      NaN       NaN       NaN       NaN      NaN       NaN
Volvo                   NaN       NaN       NaN       NaN      NaN  10200.00

Year                    2016      2017      2018
Make       Model
Audi                     NaN       NaN       NaN
           Sedan         NaN       NaN       NaN
BMW                  3000.00       NaN       NaN
Ford       Focus   110789.17 114089.17 107800.00
           Mondeo        NaN   8600.00       NaN
Mers       Benz          NaN       NaN       NaN
Skoda      Octavia  35700.00   2400.00 153200.00
Toyota     Camry      800.00       NaN       NaN
           Corolla       NaN   6900.00       NaN
Volkswagen               NaN       NaN       NaN
           Golf          NaN       NaN   1000.00
           Jetta         NaN       NaN       NaN
           Passat        NaN       NaN       NaN
           Touareg       NaN       NaN       NaN
Volvo                    NaN       NaN       NaN

[15 rows x 39 columns]

In [34]:
fines.to_csv("../ex04/fines.csv",index=False)

In [35]:
owners.to_csv("../ex04/owners.csv",index=False)