In [4]:
import pandas as pd
import sqlite3

In [5]:
con = sqlite3.connect("../data/checking-logs.sqlite")

In [6]:
pageviews = pd.read_sql("PRAGMA table_info(datamart);",con=con)
pageviews

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [9]:
pd.read_sql("SELECT * FROM pageviews LIMIT 10",con)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

In [10]:
pd.read_sql("SELECT * FROM checker LIMIT 10",con)

,index,status,success,timestamp,numTrials,labname,uid
0,0,checking,0,2020-04-16 21:12:50.740474,5,None,admin_1
1,1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
2,2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
3,3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
4,4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
5,5,ready,0,2020-04-16 21:53:05.373389,6,code_rvw,admin_1
6,6,checking,0,2020-04-17 05:18:51.965864,1,None,None
7,7,ready,0,2020-04-17 05:19:02.744528,1,project1,user_4
8,8,checking,0,2020-04-17 05:22:35.249331,2,project1,user_4
9,9,ready,1,2020-04-17 05:22:45.549397,2,project1,user_4

Создание таблицы

In [24]:
query = """ CREATE TABLE IF NOT EXISTS datamart AS 
SELECT c.uid, c.labname, c.timestamp AS first_commit_ts, page.datetime AS first_view_ts 
FROM checker c 
LEFT JOIN pageviews page ON page.uid = c.uid 
WHERE c.status = 'ready' 
  AND c.numTrials = 1 
  AND c.labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
  AND (page.datetime = (SELECT MIN(datetime) FROM pageviews WHERE uid = c.uid));"""
con.execute(query)

datamart = pd.read_sql('select * from datamart', con, parse_dates=['first_commit_ts', 'first_view_ts'])
datamart

         uid   labname            first_commit_ts              first_view_ts
0     user_4  project1 2020-04-17 05:19:02.744528                        NaT
1     user_4    laba04 2020-04-17 11:33:17.366400                        NaT
2     user_4   laba04s 2020-04-17 11:48:41.992466                        NaT
3    user_17  project1 2020-04-18 07:56:45.408648 2020-04-18 10:56:55.833899
4    user_30    laba04 2020-04-18 13:36:53.971502 2020-04-17 22:46:26.785035
..       ...       ...                        ...                        ...
135  user_23    laba06 2020-05-21 08:34:10.517205                        NaT
136  user_19   laba06s 2020-05-21 13:27:06.705881 2020-04-21 20:30:38.034966
137  user_23   laba06s 2020-05-21 14:29:15.709568                        NaT
138  user_17    laba06 2020-05-21 15:21:31.567615 2020-04-18 10:56:55.833899
139  user_17   laba06s 2020-05-21 17:39:17.783615 2020-04-18 10:56:55.833899

[140 rows x 4 columns]