Загрузка данных

In [4]:
import pandas as pd

#1 Read SCV file

In [5]:
df = pd.read_csv("../data/feed-views.log",skipfooter=2,engine='python',skiprows=[2,3],sep='\t',names=['datetime','user'],index_col='datetime')

In [6]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [13]:
df.count()

user    1072
dtype: int64

In [7]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

#2 Rename datetime to date_time

In [8]:
df.index.names = ["date_time"]
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [9]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

#3 to_csv

In [18]:
df.head().to_csv("../ex00/feed-views-semicolon.log",sep=';')
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

OR

In [14]:
df.tail().to_csv("../ex00/feed-views-semicolon.log",sep=';')

OR

In [17]:
df.to_csv("../ex00/feed-views-semicolon.log",sep=';')