In [119]:
import pandas as pd
import gc

Read the fines.csv file

In [120]:
df = pd.read_csv("../ex04/fines.csv")

In [121]:
df

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  T015MT165RUS       1  6500.0    Ford  Focus  2005
926  A015MT165RUS       3  7500.0    Audi  Sedan  2005
927  G015MT165RUS       2  9500.0    Mers   Benz  2006
928  W015MT165RUS       1  7500.0    Ford  Focus  2005
929  H015MT165RUS       1  6500.0    Audi  Sedan  2008

[930 rows x 6 columns]

Write a function that loops through the dataframe

In [122]:
%%timeit -n1 -r1

list1 = list()
for i in range(0,len(df)):
    list1.append((df['Fines'].loc[i])/(df['Refund'].iloc[i] * df['Year'].iloc[i]))
df['NW Columns'] = list1

print(df)

        CarNumber  Refund   Fines    Make  Model  Year  NW Columns
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989    0.804424
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995    3.258145
2     7184TT36RUS       1  2100.0    Ford  Focus  1984    1.058468
3    X582HE161RUS       2  2000.0    Ford  Focus  2015    0.496278
4    92918M178RUS       1  5700.0    Ford  Focus  2014    2.830189
..            ...     ...     ...     ...    ...   ...         ...
925  T015MT165RUS       1  6500.0    Ford  Focus  2005    3.241895
926  A015MT165RUS       3  7500.0    Audi  Sedan  2005    1.246883
927  G015MT165RUS       2  9500.0    Mers   Benz  2006    2.367896
928  W015MT165RUS       1  7500.0    Ford  Focus  2005    3.740648
929  H015MT165RUS       1  6500.0    Audi  Sedan  2008    3.237052

[930 rows x 7 columns]
9.11 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

using iterrows()

In [123]:
df = df.drop('NW Columns',axis=1)

In [124]:
%%timeit -n1 -r1
list2 = list()
for i,j in df.iterrows():
    list2.append((j['Fines'])/(j['Refund'] * j['Year']))
df['NW Column'] = list2

12.5 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [125]:
print(df)

        CarNumber  Refund   Fines    Make  Model  Year  NW Column
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989   0.804424
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   3.258145
2     7184TT36RUS       1  2100.0    Ford  Focus  1984   1.058468
3    X582HE161RUS       2  2000.0    Ford  Focus  2015   0.496278
4    92918M178RUS       1  5700.0    Ford  Focus  2014   2.830189
..            ...     ...     ...     ...    ...   ...        ...
925  T015MT165RUS       1  6500.0    Ford  Focus  2005   3.241895
926  A015MT165RUS       3  7500.0    Audi  Sedan  2005   1.246883
927  G015MT165RUS       2  9500.0    Mers   Benz  2006   2.367896
928  W015MT165RUS       1  7500.0    Ford  Focus  2005   3.740648
929  H015MT165RUS       1  6500.0    Audi  Sedan  2008   3.237052

[930 rows x 7 columns]

using apply() and a lambda function

In [126]:
%%timeit -n1 -r1
df['NW Columns'] = df.apply(lambda x : x['Fines'] / (x['Year']* x['Refund']),axis=1)

3.97 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [127]:
df

        CarNumber  Refund   Fines    Make  Model  Year  NW Column  NW Columns
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989   0.804424    0.804424
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   3.258145    3.258145
2     7184TT36RUS       1  2100.0    Ford  Focus  1984   1.058468    1.058468
3    X582HE161RUS       2  2000.0    Ford  Focus  2015   0.496278    0.496278
4    92918M178RUS       1  5700.0    Ford  Focus  2014   2.830189    2.830189
..            ...     ...     ...     ...    ...   ...        ...         ...
925  T015MT165RUS       1  6500.0    Ford  Focus  2005   3.241895    3.241895
926  A015MT165RUS       3  7500.0    Audi  Sedan  2005   1.246883    1.246883
927  G015MT165RUS       2  9500.0    Mers   Benz  2006   2.367896    2.367896
928  W015MT165RUS       1  7500.0    Ford  Focus  2005   3.740648    3.740648
929  H015MT165RUS       1  6500.0    Audi  Sedan  2008   3.237052    3.237052

[930 rows x 8 columns]

In [128]:
df = df.drop('NW Columns',axis=1)

using Series objects from the dataframe

In [129]:
%%timeit -n1 -r1
df['NW Columns'] = df['Fines'] / (df['Year']* df['Refund'])

631 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [130]:
df

        CarNumber  Refund   Fines    Make  Model  Year  NW Column  NW Columns
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989   0.804424    0.804424
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   3.258145    3.258145
2     7184TT36RUS       1  2100.0    Ford  Focus  1984   1.058468    1.058468
3    X582HE161RUS       2  2000.0    Ford  Focus  2015   0.496278    0.496278
4    92918M178RUS       1  5700.0    Ford  Focus  2014   2.830189    2.830189
..            ...     ...     ...     ...    ...   ...        ...         ...
925  T015MT165RUS       1  6500.0    Ford  Focus  2005   3.241895    3.241895
926  A015MT165RUS       3  7500.0    Audi  Sedan  2005   1.246883    1.246883
927  G015MT165RUS       2  9500.0    Mers   Benz  2006   2.367896    2.367896
928  W015MT165RUS       1  7500.0    Ford  Focus  2005   3.740648    3.740648
929  H015MT165RUS       1  6500.0    Audi  Sedan  2008   3.237052    3.237052

[930 rows x 8 columns]

use the method .values

In [131]:
%%timeit -n1 -r1
df['NW Columns'] = df['Fines'].values / (df['Year'].values * df['Refund'].values)

244 μs ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [132]:
df = df.reset_index()

In [133]:
df

,index,CarNumber,Refund,Fines,Make,Model,Year,NW Column,NW Columns
0,0,Y163O8161RUS,2,3200.0,Ford,Focus,1989,0.804424,0.804424
1,1,E432XX77RUS,1,6500.0,Toyota,Camry,1995,3.258145,3.258145
2,2,7184TT36RUS,1,2100.0,Ford,Focus,1984,1.058468,1.058468
3,3,X582HE161RUS,2,2000.0,Ford,Focus,2015,0.496278,0.496278
4,4,92918M178RUS,1,5700.0,Ford,Focus,2014,2.830189,2.830189
...,...,...,...,...,...,...,...,...,...
925,925,T015MT165RUS,1,6500.0,Ford,Focus,2005,3.241895,3.241895
926,926,A015MT165RUS,3,7500.0,Audi,Sedan,2005,1.246883,1.246883
927,927,G015MT165RUS,2,9500.0,Mers,Benz,2006,2.367896,2.367896
928,928,W015MT165RUS,1,7500.0,Ford,Focus,2005,3.740648,3.740648
929,929,H015MT165RUS,1,6500.0,Audi,Sedan,2008,3.237052,3.237052

Indexing: measure the time using the magic command %%timeit in the cell

In [134]:

%%timeit -n1 -r1 
car_number = 'O136HO197RUS'
print(df[df['CarNumber'] == car_number])

     index     CarNumber  Refund   Fines    Make    Model  Year  NW Column  \
715    715  O136HO197RUS       2  7800.0  Toyota  Corolla  1989   1.960784
902    902  O136HO197RUS       2  7800.0  Toyota  Corolla  1997   1.952929

     NW Columns
715    1.960784
902    1.952929
1.52 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [135]:
df = df.set_index('CarNumber')

In [136]:
%%timeit -n1 -r1
car_number = 'O136HO197RUS'
print(df.loc[car_number])

              index  Refund   Fines    Make    Model  Year  NW Column  \
CarNumber
O136HO197RUS    715       2  7800.0  Toyota  Corolla  1989   1.960784
O136HO197RUS    902       2  7800.0  Toyota  Corolla  1997   1.952929

              NW Columns
CarNumber
O136HO197RUS    1.960784
O136HO197RUS    1.952929
1.32 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

Downcasting

In [137]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to H015MT165RUS
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       930 non-null    int64
 1   Refund      930 non-null    int64
 2   Fines       930 non-null    float64
 3   Make        930 non-null    object
 4   Model       919 non-null    object
 5   Year        930 non-null    int64
 6   NW Column   930 non-null    float64
 7   NW Columns  930 non-null    float64
dtypes: float64(3), int64(3), object(2)
memory usage: 228.8 KB

In [138]:
df_init = pd.read_csv("../ex04/fines.csv")
optimized_df = df_init.copy()

In [139]:
optimized_df

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  T015MT165RUS       1  6500.0    Ford  Focus  2005
926  A015MT165RUS       3  7500.0    Audi  Sedan  2005
927  G015MT165RUS       2  9500.0    Mers   Benz  2006
928  W015MT165RUS       1  7500.0    Ford  Focus  2005
929  H015MT165RUS       1  6500.0    Audi  Sedan  2008

[930 rows x 6 columns]

In [140]:
%%timeit -n1 -r1
optimized_df['Refund'] = optimized_df['Refund'].astype('int8')
optimized_df['Fines'] = optimized_df['Fines'].astype('float32')
optimized_df['Year'] = optimized_df['Year'].astype('int16')
optimized_df['Make'] = optimized_df['Make'].astype('category')
optimized_df['Model'] = optimized_df['Model'].astype('category')
optimized_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float32
 3   Make       930 non-null    category
 4   Model      919 non-null    category
 5   Year       930 non-null    int16
dtypes: category(2), float32(1), int16(1), int8(1), object(1)
memory usage: 65.1 KB
6.58 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)